@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (min-height: 1900px) {
  .portraitScreen {
    @apply h-screen-navbar py-0;
  }
}

.ease {
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  @apply bg-primary shadow-primary/50 shadow-xl;
}

.service-card:hover .icon-container {
  @apply bg-white;
}

.service-card:hover .icon {
  @apply text-primary;
}

.service-card:hover .content-container h6 {
  @apply text-white;
}

.service-card:hover .content-container p {
  @apply text-white/80;
}

.work-card:hover {
  @apply lg:left-4 border-0 shadow-secondary drop-shadow-xl bg-white;
}

.pacman {
  transform: rotate(45deg);
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-top: 15px solid #FFBE62;
  border-left: 15px solid #FFBE62;
  border-bottom: 15px solid #FFBE62;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.heading6 {
  @apply font-bold md:text-4xl text-3xl text-white md:leading-[3.7rem] leading-10;
}

.body2 {
  @apply font-medium md:text-base text-xs;
}
